* {
    font-family: "Poppins", sans-serif;
  }
  
  :root {
    --primary-color: #2cd8fa;
    --secondary-color: #2cd8fa;
    --color-text: #101010;
  }
  
  .navbar {
    background-color: var(--primary-color);
  }
  
  .navbar h2 {
    padding: 10px;
    margin-left: 50px;
    font-family: "Yeseva One";
    cursor: pointer;
  }
  
  .navbar h5:hover {
    color: #ffffff;
    cursor: pointer;
  }
  
  .navbar .menu {
    padding: 10px;
    gap: 50px;
    display: flex;
    margin-right: 50px;
  }
  
  .hero h4 {
    font-size: 32px;
    font-family: "Yeseva One";
  }
  
  .hero h1 {
    font-size: 62px;
    font-family: "Yeseva One";
  }
  
  .hero img {
    width: 100%;
    height: auto;
  }
  
  .hero button {
    font-size: 18px;
    font-weight: 800;
    margin-top: 20px;
    padding: 20px;
    border-radius: 15px;
    border: none;
    background-color: var(--secondary-color);
    color: var(--color-text);
  }
  
  .hero button:hover {
   background-color: #45cae5;
   color: #ffffff;
  }
  
  .about {
      margin-top: 100px;
  }
  
  .desc {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: end;
      text-align: right;
      margin-top: 20px;
  }
  
  .desc button {
      font-size: 18px;
      font-weight: 800;
      margin-top: 20px;
      padding: 20px;
      border-radius: 15px;
      border: none;
      background-color: var(--secondary-color);
      color: var(--color-text);
  }
  
  .desc button:hover {
    background-color: #45cae5;
    color: #ffffff;
  }
  
  .skills {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
  
  .skills img {
      width: 40px;
      margin-bottom: 10px;
  }
  
  .card {
    flex: 1 1 calc(50% - 20px);
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 8px;
  }
  
  .card h4 {
    font-weight: 600;
  }
  
  .card:nth-child(even) {
      height: 450px; 
      margin-top: 50px;
  }
  
  .card:nth-child(odd) {
      height: 450px; 
  }
  
  .project img {
      width: 400px;
      height: 220px;
      margin: 10px;
      border: 2px solid #373737;

  }  
  
  .project img:hover {
    transform: scale(1.1);
    transition: 0.5s;
  }
  
  .quotes {
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      margin-top: 100px;
      margin-bottom: 100px;
  }
  
  .quotes h3 {
    color: var(--primary-color);
    font-weight: 600;
  }
  
  .quotes h4 {
    font-weight: 400;
  }
  
  .quotes .bill img {
      width: 100%;
      height: auto;
  }
  
  .quotes .petik img {
    width: 100px;
  }
  
  .footer {
    background-color: var(--primary-color);
    height: 200px;
    padding: 20px 0;
  }
  
  .footer .baris {
    margin-top: 50px;
  }
  
  .footer .baris h3 {
    font-family: "Yeseva One";
  }
  
  .social-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
  
  .icon-box {
    background-color: #ffffff;
    border-radius: 10px; 
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px; 
    height: 50px; 
    cursor: pointer;
  }
  
  .icon-box:hover {
    background-color: #ffffffbe;
    color: var(--primary-color);
  }
  
  @media (max-width: 768px) {
    .navbar {
      flex-direction: column;
      text-align: center;
    }
    .navbar h2, .navbar .menu {
      margin: 0;
    }
    .about .desc {
      align-items: center;
      text-align: center;
    }
    .skills {
      flex-direction: column;
    }
    .card {
      flex: 1 1 100%;
    }
    .footer .baris {
      flex-direction: column;
      align-items: center;
    }
  }
  